/* i used bootstrap, so i don't need to use grid layout in my css file... but... */
/* per requirements, add grid layout in css file */


/* Styles, you should style your website including:

Font
Color 
Navigation
Image
Styled links 
Use of grid layout, which will be assessed by looking at the link to your CSS file */
.email-container {
  display: grid;
  margin-top: 200px;
}

.card-img-top {
  height: 300px; 
  width: 100%; 
  object-fit: cover; 
}

.email {
  font-size: 25px;
}

.email-container {
  margin-top: 200px;
}


.nav-item,  
p {
  font-family: 'Contrail One', sans-serif;
  font-family: 'Pacifico', cursive;
  font-family: 'PT Sans Narrow', sans-serif;
}

.card-title {
  font-family: 'Contrail One', sans-serif;
  font-family: 'Pacifico', cursive;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
}

.bio-container {
  margin-top: 80px;
}

#bio-title {
  margin-top: 20px;
  font-size: 50px;
  font-weight: 800;
  color: darksalmon;
  

}

.btn-custom {
  background-color: darksalmon;
  color: white;
  font-weight: 400;
}

a {
  color: darksalmon;
}

body {
  margin-bottom: 150px;
}